<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <appSettings>
    <add key="methodologies_dir" value="/mnt/software/methodologies"/>
    <add key="reports_dir" value="Reports"/>
    <add key="reports_meta_file_dir" value="Reports"/>
    <add key="flash_drive_dir" value="/mnt/flash"/>
    <add key="flash_device_template" value="/dev/uba1"/>
    <add key="measure_device_name" value="/dev/ttySP1"/>
    <add key="is_fake_device_enable" value="false"/>
  </appSettings>

  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ConsoleAppender"/>
    </root>

    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="PA1Linux.log"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger %method - %message%newline"/>
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger %method - %message%newline"/>
      </layout>
    </appender>
  </log4net>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="1B44E1D426115821" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.2.11.0" newVersion="1.2.11.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
